PORT=8000
ENVIRONMENT=development
TESTING=false

# Auth0
AUTH0_DOMAIN=
AUTH0_API_AUDIENCE=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
AUTH0_REDIRECT_URI=http://localhost:8000/callback

# MongoDB
MONGODB_URI=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=

# LLM, Audio & Proxy
GEMINI_API_KEY=
LAVA_SECRET_KEY=
